<div class="textContainer">
  {{input
  classNameBindings=":ember-x-editable-text :input-sm isEditing:is-editing:is-not-editing"
  type="text"
  value=value}}

  {{partial 'error'}}
</div>

{{partial 'buttons'}}

