<div class="textContainer">
  {{input
    classNames="ember-x-editable-text input-sm"
    classNameBindings="isEditing:is-editing:is-not-editing errorMessage:error"
    type="text"
    value=value}}

  {{error-message errorMessage=errorMessage isEditing=isEditing tagName=''}}
</div>

{{editable-buttons
  cancelAction=(action 'cancelAction')
  isEditing=isEditing
  saveAction=(action 'saveAction')
  tagName=''}}

