@import 'fonts';

$background1: #323040;
$background2: #2e2859;
$light-color: #aaa3d9;
$alt-light-color: #6e698c;
$whiteish: #c8c7d5;

body {
  background-color: $background1;
  color: $light-color;
  font-family: $f-primary;
  font-size: 1.25rem;
  line-height: 1.25;
  margin: 0;
}

.textContainer .ember-x-editable-text,
.selectContainer .ember-x-editable-select {
  font-size: 13px;

  &::-ms-clear {
    display: none;
    height: 0;
    width: 0;
  }

  &.is-editing {
    background-color: $whiteish;
    color: $background2;
  }

  &.is-not-editing {
    color: $whiteish;
  }
}

h1 {
  font-size: 6vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $whiteish;
  font-weight: normal;
  margin: 0.25rem 0;
}

.pacifico {
  font-family: $f-pacifico;
}
