<div class="textContainer textareaContainer">
  {{textarea
    classNames="ember-x-editable-textarea input-sm"
    classNameBindings="isEditing:is-editing:is-not-editing errorMessage:error"
    rows="1"
    value=value}}

  {{error-message errorMessage=errorMessage isEditing=isEditing tagName=""}}
</div>

{{editable-buttons
  cancelAction=(action "cancelAction")
  isEditing=isEditing
  saveAction=(action "saveAction")
  tagName=""}}
