<div class="textContainer">
  {{textarea
    classNameBindings=":ember-x-editable-text :input-sm isEditing:is-editing:is-not-editing errorMessage:error"
    type="text"
    value=value}}

  {{error-message errorMessage=errorMessage isEditing=isEditing tagName=''}}
</div>

{{editable-buttons
  cancelAction=(action 'cancelAction')
  isEditing=isEditing
  saveAction=(action 'saveAction')
  tagName=''}}
