<div class="row">
  <div class="col-sm-4">
    <h2>Text</h2>
    {{ember-x-editable
    cancelAction='cancelAction'
    content='TestString'
    fontFamilyConfig=fontFamilyConfig
    saveAction='saveAction'
    type='text'
    validator=textValidator
    }}
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h2>Select</h2>
    {{ember-x-editable
    cancelAction='cancelAction'
    content=selectContent
    fontFamilyConfig=fontFamilyConfig
    saveAction='saveAction'
    selectedValue=2
    type='select'
    validator=selectValidator
    }}
  </div>
</div>
