<div class="row">
  <div class="col-sm-4">
    <h2>Text</h2>
    {{ember-x-editable
    cancelAction='cancelAction'
    fontFamilyConfig=fontFamilyConfig
    isFieldEditing=isFieldEditing
    saveAction='saveAction'
    type='text'
    validator=textValidator
    value='TestString'
    }}
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h2>Select</h2>
    {{ember-x-editable
    cancelAction='cancelAction'
    content=selectContent
    fontFamilyConfig=fontFamilyConfig
    isFieldEditing=isFieldEditing
    saveAction='saveAction'
    type='select'
    validator=selectValidator
    value=2
    }}
  </div>
</div>
